<form action="/signup" class="signup" method="post">
    <h1 class="title">Signup</h1>
    <div class="inp-box">
        <input type="email" name="email" placeholder="Enter your email" id="signup-email">
        <input type="text" name="username" placeholder="Enter your username" id="signup-username">
        <input type="password" name="password" placeholder="Enter your Password" id="signup-password">
        <input type="submit" value="Create Account">
    </div>
</form>